<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Explora el Mundo</h1>
      <p class="mb-5">
        Descubre información detallada de todos los países del mundo. Capitales, idiomas, población, banderas y mucho más, todo en un solo lugar.
      </p>
      <button [routerLink]="['/country']" routerLinkActive="router-link-active"  class="btn btn-primary">Comenzar</button>
    </div>
  </div>
</div>

